.main {
    margin-top: 230px;
    width: 463px;
    height: 304px;
}
.slogan {
    width: 695px;
    height: 120px;
    font-family: Axiforma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 77px;
    line-height: 90px;
    text-transform: capitalize;
    color: #2E3846;
}
.description {
    margin-top: -20px;
    margin-left: 5px;
    width: 660px;
    height: 134px;
    font-family: Axiforma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    color: #516272;
}
.button {
    margin-top: 22px;
    margin-left: 5px;
    width: 270px;
    height: 51px;
    padding-top: 25px;
    box-shadow: 0px 0px 20px 0px #FF9170;
    background: linear-gradient(135deg, #FF5F6D 2.88%, #FFC371 100%);
    border: none;
    border-radius: 9px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    font-family: Axiforma, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.085em;
    -webkit-transition: 0.5s ease;
}
.button:hover {
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 50px 5px #FF9170;
    transform: scale(1.05);
}
.pic {
    position: absolute;
    right: 260px;
    top: 150px;
    width: 720px;
    height: 720px;
}