@import "table.css";

.row {
    margin-top: 20px;
    margin-left:-5px;
    margin-right:-5px;
    font-family: Mukta, sans-serif;
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
    color: var(--clr-gray500);
    font-size: 0.9rem;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.column2 {
    float: left;
    width: 50%;
    padding: 5px;
    /*margin-left: -37px;*/
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
h2 {
    /*margin-top: 20px;*/
}

table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px var(--clr-gray300);
    background-color: white;
    text-align: left;
    overflow: hidden;
}

thead {
    box-shadow: 0 5px 10px var(--clr-gray300);
}

th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

td {
    padding: 1rem 2rem;
}

a {
    text-decoration: none;
    color: var(--clr-link);
}

tr:nth-child(even) {
    background-color: var(--clr-gray150);
}
* {
    box-sizing: border-box;
}