:root {
    --clr-primary: #81d4fa;
    --clr-primary-light: #e1f5fe;
    --clr-primary-dark: #4fc3f7;
    --clr-gray100: #f9fbff;
    --clr-gray150: #f4f6fb;
    --clr-gray200: #eef1f6;
    --clr-gray300: #e1e5ee;
    --clr-gray400: #767b91;
    --clr-gray500: #4f546c;
    --clr-gray600: #2a324b;
    --clr-gray700: #161d34;
    --clr-pending: #fff0c2;
    --clr-pending-font: #a68b00;
    --clr-unpaid: #ffcdd2;
    --clr-unpaid-font: #c62828;
    --clr-paid: #c8e6c9;
    --clr-paid-font: #388e3c;
    --clr-link: #2962ff;
    --radius: 0.2rem;
}
.table-custom {
    margin: 20px;
    padding: 0;
    font-family: Mukta, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--clr-gray500);
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px var(--clr-gray300);
    background-color: white;
    text-align: left;
    overflow: hidden;
}

thead {
    box-shadow: 0 5px 10px var(--clr-gray300);
    background-color: #2E3846;
}

th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 900;
    color: white;
}

td {
    padding: 1rem 2rem;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: var(--clr-link);
}
.button-create {
    background-color: #a68b00;
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    padding: 0 1.5rem;
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
}
.status {
    border-radius: var(--radius);
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}

.status-block {
    background-color: var(--clr-paid);
    color: var(--clr-paid-font);
}

.status-unblock {
    background-color: var(--clr-unpaid);
    color: var(--clr-unpaid-font);
}
tr:nth-child(even) {
    background-color: var(--clr-gray150);
}
.under-table {
    margin-top: 15px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    font-family: Axiforma, sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.085em;
}
